   body,
   html {
     background-color: #EFEFEF;
     height: 100%;
     margin: 0;
     padding: 0;
    
   }

   .bracket {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     max-height: 100%;
     

   }

   .coluna-esquerda-12,
   .coluna-direita-12 {
     display: flex;
     flex-direction: column;
     gap: 250px;
   }

   .segunda-coluna {

     display: flex;
     flex-direction: column;
     gap: 200px;
     margin-top: 5%;

   }

   .segunda-coluna-12 {
     display: flex;
     flex-direction: column;
     gap: 250px;
   }

   .terceira-coluna {
    
     margin-top: 15%;
   }

   .coluna-final {
     display: flex;
     flex-direction: column;
     margin-top: 15%;

   }
   #carregar, #addNames{
    padding:10px;
    background-color: lightgreen;
    border: 5px solid #26161F;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
   }

   .coluna-final-14 {
     display: flex;
     flex-direction: column;
     margin-top: 5%;
   }

   .ronda {
     display: flex;
     justify-content: center;
     
     margin-bottom: 60px;

     width: 100%;
   }
   


   .vs {
     margin: 2px;
     font-size: 24px;
     font-weight: bold;
     margin-top: auto;
     margin-bottom: 32px;
   }

   .img{

     width: 100%;
     max-width: 100%;
     height: auto;
     max-height: 120px;
    max-width: 120px;
    min-width: 70px;
    min-height: 70px;
     border: 5px solid #26161F;
     

   }
   .lista_imagens{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
   }
   .img_delete{
    text-align: center;
   }
   .img_delete img {
    max-width: 100%;
    height: auto;
}

   .img-4 {
     width: 100%;
     min-width: 130px;
     max-width: 180px;
     height: auto;
     border: 5px solid #26161F;
     max-height: 200px;
   }
   .img-6 {
    width: 100%;
    min-width: 120px;
    max-width: 180px;
    height: auto;
    border: 5px solid #26161F;
    max-height: 200px;
    min-height: 100px;
  }
  .img-8 {
    width: 100%;
    min-width: 96px;
    max-width: 180px;
    height: auto;
    border: 5px solid #26161F;
    max-height: 200px;
    min-height: 100px;
  }

   .img-2 {
     width: 100%;
     min-width: 200px;
     max-width: 250px;
     height: auto;
     border: 5px solid #26161F;
     max-height: 250px;
   }

   .img-12 {
    width: 100%;
    min-width: 80px;
    min-height: 85px;
    max-width: 140px;
    height: auto;
    border: 5px solid #26161F;
    max-height: 110px;
   }
.img-14{
  width: 100%;
  min-width: 80px;
  min-height: 85px;
  max-width: 140px;
  height: auto;
  border: 5px solid #26161F;
  max-height: 110px;
}
.img-10{
  width: 100%;
  min-width: 88px;
  min-height: 85px;
  max-width: 140px;
  height: auto;
  border: 5px solid #26161F;
  max-height: 110px;
}
.img-escolhe{
  width: auto;
max-width: 100%;
 max-height: 600px;
height: auto;
min-width: 400px;
min-height: 350px;

  border: 5px solid lightgreen;
  
}

   .descricao {
     font-size: 14px;
     font-family: arial, sans-serif;
     color: #3c4043;
     font-weight: bold;
     margin-top: 5px;
   }

   

   .imagem-texto {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;



   }

   .meioImagens {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 140px;
   }

   .botaoVS {
     background-color: #f8f9fa;
     border: 1px solid #26161F;
     border-radius: 4px;
     color: #3c4043;
     cursor: pointer;
     font-family: arial, sans-serif;
     font-size: 14px;
     font-weight: bold;
     height: 36px;
     line-height: 27px;
     min-width: 54px;
     padding: 0 10px;
     text-align: center;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: pre;
     margin: 0 10px;

   }

   .botaoVS:hover {
     border-color: #dadce0;
     box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
     color: #202124;
   }


   /*  Escolhe */

   .imagem_decisao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    visibility: hidden;
}


.imagem_decisao .vs {
    font-size: 30px;
    font-weight: bold;
    color: #FFF; 
    margin: 0 10px;
}
.imagem_decisao .botaoVS{
  margin-top: 10px ;
  font-size: 20px;
  min-width: 220px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93); 
    z-index: 999; 
    visibility: hidden; 
}



/* vencedor final */

.vencedor_final {
  text-align: center; 

  color: #fff; 
  padding: 20px; 
}

.vencedor_titulo {
  font-size: 2em; 
  margin-bottom: 20px; 
  color: gold; 
}

.vencedor_final .imagem_vencedor{
 max-width: 100%;
 max-height: 800px;
  height: auto; 
  border: 5px solid gold; 
}

.descricao_final {
  display: block; 
  margin-top: 10px; 
  font-size: 1.2em; 
}

/*  fireworks */
/* Basic styling for the fireworks container */
.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

/* Individual firework */
.firework {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  animation: firework-burst 0.8s ease-out forwards;
}

@keyframes firework-burst {
  0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  }
  100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(10);
  }
}